<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axion.updater.gauguin"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="org.lineageos.updater"
        android:isStatic="true"
        android:priority="10" />
</manifest>
